.OTC-cart-sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 375px;
    height: 100%;
    background: #fff;
    z-index: 100;
    transition: all .5s;
    transform: translateX(100%);
    &.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        position: fixed;
        top: 0;
        right: 0;
        width: 375px;
        height: 100vh;
        background: #fff;
        z-index: 100;
        transition: all .5s;
    }
    // ================
    // background
    // ================    
    * {
        font-family: 'averta',sans-serif!important;
        box-sizing: border-box;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #333333;
        margin: 0 0 13px 0;
        font-weight: 500;
        line-height: 1.2;
    }
    .Icon.Icon--close{
        fill: #000;
        width: 13px;
    }
    .f-button{
        background: transparent;
        border: none;
        outline: none;
    }
    label{
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }
    p{
        line-height: 24px;
    } 
    .cart-sidebar .cart-sidebar-bot a[href="/checkout"] {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: 1px solid #000;
        padding: 15px 20px;
    }
    .button.dark {
        color: #fff;
        border-color: #1ca8ff;
        &::before{
            transition: 0.3s ease-in-out;
        }
        &:hover{
            color: #252a2b;
            &::before{
                transform: scale(0, 1);
            }
        }
    }
    .button {
        cursor: pointer;
        position: relative;
        display: inline-block;
        padding: 10px 28px;
        line-height: normal;
        border: 1px solid #ffffff;
        border-radius: 0;
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
        letter-spacing: 1px;
        background: transparent;
        z-index: 1;
        color: #252a2b;
        overflow: hidden;
        &::before{
            position: absolute;
            content: '';
            display: block;
            left: -2px;
            top: 0;
            right: -2px;
            bottom: 0;
            transform-origin: left center;
            z-index: -1;
            transform: scale(1, 1);
        }
    }
    a{
        color: #333333;
        text-decoration: none;
        outline: none;
        transition: 0.3s ease-in-out;
        &:hover,&:focus {
            color: #1ca8ff;
            text-decoration: none;
            outline: none;
        }        
    }
    // ===================
    // component
    // ===================
    .cart-sidebar-top{
        border-bottom: 1px solid #ebebeb;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        height: 70px;
        line-height: 70px;
        h2{
            margin: 0;
            font-size: 16px;
            color: #737171;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }
        button{
            color: #737171;
            &.f-button{
                background: transparent;
                border: none;
                outline: none;
                font-size: 25px;
            }
        }
    }
    .cart-sidebar-mid{
        height: calc(100vh - 320px);
        overflow-y: auto;
        .cart-sidebar-mid-yes{
            padding: 20px;
            .cart-item{
                margin-bottom: 20px;
                display: flex;
                .cart-item-left{
                    width: 100px;
                    a{
                        display: block;
                        color: #333333;
                        text-decoration: none;
                        outline: none;
                        img{
                            max-width: 100%;
                        }
                    }
                } 
                .cart-item-right{
                    width: calc(100% - 100px);
                    padding-left: 20px;
                    position: relative;
                    h4{
                        display: none;
                        text-transform: uppercase;
                        letter-spacing: 0.2em;
                        margin-bottom: 5px;
                        width: 90%;
                        font-size: 13px;
                        line-height: 18px;
                    }
                    span{
                        display: block;
                        padding-right: 18px;
                    }
                    .cart-item-right-action{
                        margin-top: 10px;
                        display: flex;
                        justify-content: space-between;
                        .cart-item-right-action-quantity{
                            display: flex;
                            align-items: center;
                            border: 1px solid #ebebeb;
                            button{
                                width: 30px;
                                height: 35px;
                                border: none;
                                line-height: 0;
                                font-size: 30px;
                                background: #f3f3f3;
                                color: #9d9a9a;
                                cursor: pointer;
                            }
                            input{
                                width: 60px;
                                height: 35px;
                                border: none;
                                text-align: center;
                                line-height: 35px;
                                border-left: 1px solid #ebebeb;
                                border-right: 1px solid #ebebeb;
                            }
                        }
                        .cart-item-right-action-price{
                            display: flex;
                            align-items: center;
                            p{
                                margin: 0;
                                line-height: 24px;
                            }
                        }
                    }
                    .cart-item-right-remove{
                        position: absolute;
                        top: 0;
                        right: 0;
                        button{
                            font-size: 10px;
                            text-transform: uppercase;
                            letter-spacing: 0.2em;
                            position: relative;
                        }
                    }
                } 
            }
        }
    }
    .cart-sidebar-bot{
        height: 220px;
        border-top: 1px solid #ebebeb;
        padding: 20px;
        span{
            display: flex;
            justify-content: space-between;
        }
        p{
            margin: 10px 0 20px;
        }
        a{
            &[href="/checkout"]{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                border: 1px solid #000;
                padding: 15px 20px;
                overflow: hidden;
                &:before{
                    background: #000;
                }
            }
            &:not([href='/checkout']){
                display: block;
                text-align: center;
                margin: 10px 0;
                opacity: .5;
            }
        }
    }
}