@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=vietnamese');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@font-face {
	font-family: Futura;
	font-weight: 400;
	font-style: normal;
	src: url("futura.woff2") format("woff2");
}
@font-face {
	font-family: 'FontAwesome';
	src: url('//theme.hstatic.net/200000281647/1000700123/14/fontawesome.eot?v=2902');
	src: url('//theme.hstatic.net/200000281647/1000700123/14/fontawesome.eot?v=2902') format('embedded-opentype'), url('//theme.hstatic.net/200000281647/1000700123/14/fontawesome.woff?v=2902') format('woff'), url('//theme.hstatic.net/200000281647/1000700123/14/fontawesome.ttf?v=2902') format('truetype'), url('//theme.hstatic.net/200000281647/1000700123/14/fontawesome.svg?v=2902') format('svg');
	font-weight: normal;
	font-style: normal;font-display:swap;
} 
@font-face {
	font-family:'Glyphicons Halflings';
	src:url('//theme.hstatic.net/200000281647/1000700123/14/glyphicons-halflings-regular.eot?v=2902');
	src:url('//theme.hstatic.net/200000281647/1000700123/14/glyphicons-halflings-regular.eot?#iefix?v=2902') format('embedded-opentype'),url('//theme.hstatic.net/200000281647/1000700123/14/glyphicons-halflings-regular.woff?v=2902') format('woff'),url(//theme.hstatic.net/200000281647/1000700123/14/glyphicons-halflings-regular.ttf?v=2902) format('truetype'),url(//theme.hstatic.net/200000281647/1000700123/14/glyphicons-halflings-regular.svg#glyphicons_halflingsregular?v=2902) format('svg')
}

@font-face {
	font-family: 'averta';
	src: url('https://file.hstatic.net/200000281647/file/averta-semibold_3535189fba8c4e7288f44437f180272c.otf') format("opentype");
	font-weight: 600;
	font-style:normal;
}

@font-face {
	font-family: 'averta';
	src: url('httpshttps://file.hstatic.net/200000281647/file/averta-bold_fa0601d5ca3642a7b961537a510a7394.otf') format("opentype");
	font-weight: 700;
	font-style:normal;
}

// @font-face {
//     font-family: 'SVN-Gotham';
//     src: url('./SVN-Gotham/SVN-Gotham Black.otf');        
// }