@import 'cart';
@import 'tapply-card-details';
@import 'font';
body{
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Display',sans-serif;
}
.tapply-bg-second{
    background:#fffbf0;
}
// ======================
// ======================

header{
    position: relative;
    @media (min-width:768px) {        
        height: 100vh;
    }
    .background{
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;       
            object-fit: cover;    
        }  
        &::after{
            content: '';
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            top: 0;
            left: 0;
            background: rgba(0,0,0,.7);
        }      
    }
    display: flex;
    flex-direction: column;
    .tapply-container{
        margin-top: 0;
        margin-bottom: 0;
    }
}
nav{
    padding-top: 12px;
    color: white;
    font-family: 'SF Pro Display',sans-serif;
    display: flex;
    z-index: 99;
    .tapply-logo{
        z-index: 1;
        margin: auto;
        img{
            height: 56px;
            @media (max-width:768px) {
                height: 24px;
            }
        }
    }
    aside{  
        order:-1;
        margin-right: auto;                   
        z-index: 99;   
        width: 25%;
        text-align: left;
        display: flex;
        .links{
            display: flex;                            
            width: 90%;    
            max-width: 450px;
            height: 100vh;     
            overflow: hidden;
            left: 0;
            top: 0;
            position: fixed;
            flex-direction: column;
            background:white;
            z-index: 99;                    
            height: 100vh;
            transform: translateX(-100%);
            transition: 0.3s ease-in-out;
            display: flex;
            padding-top: 15px;
            padding-left: 15px;
            padding-right: 15px;
            // box-shadow: inset 0.1em 0.0em 1em  rgba(0,0,0,.3),inset 0em 10px 0em  rgba(0,0,0,.8);                  
            box-sizing: border-box;
            &.mobie-on{    
                transform:translateX(0);    
                .tapply-flex{
                    justify-content: space-between;
                    flex-wrap: wrap;
                    // flex-wrap: wrap;
                }            
                .btn-outline-black{
                    font-weight: 700;
                    color: black;
                    font-size: 16px;
                    line-height: 18px;
                    padding: 0.6em 2em;
                    height: 24px;
                    border-color: #0D0C22;                    
                    box-sizing: content-box;
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-right: 15px;    
                    text-transform: uppercase;    
                    margin-bottom: 1em;  
                    &.sign-in{
                        background: #0D0C22;
                        color: white;
                    }          
                    &:hover{
                        transform: translateY(-3px);
                        box-shadow: 0 0.5em 2em 0 gray ;
                    }
                    @media (max-width:768px) {
                        font-size: 14px;
                        padding: 12px 15px;
                        margin-right: 10px;    
                    }
                }
            }            
            .toggle-cart.btn-outline-black{
                display: flex;     
                padding: 0.5em 1em; 
                margin-left: 1em;  
                position: relative;                    
                svg{
                    margin: auto;
                    fill: white;
                }
                .amount{
                    position: absolute;
                    top: 0.3em;
                    right: 0.5em;
                    background: red;
                    // border: 1px solid white;
                    border-radius: 0.5em;
                    padding: 0.3em 0.5em;
                    font-size: 0.8em;
                }
                &:hover{
                    svg{
                        fill: black;
                    }
                    sub{
                        color: white;
                    }
                }
                @media (max-width:768px) {
                    svg{
                        margin: auto;
                        fill:black;
                        height: 24px;
                    }
                    margin-left: auto;
                    width: fit-content;
                    margin-top: 1em;
                    color: white;
                    sub{
                        line-height: 1em;
                    }
                }

            }
            .btn-outline-black.toogle-menu-mobie{
                margin-right: auto;
                margin-left: 0;
                border: transparent;
                padding: 0;
                @media (max-width:768px) {
                    margin-bottom: 0;
                    // svg{
                    //     height: 12px;
                    //     width: 12px;
                    // }
                    img{
                        fill: invert(1);
                    }
                }
            }
            hr{
                width: 100%;
                background: #E8E7F6;
                color: #E8E7F6;
                border: none;
                border-bottom: 1px solid;
                border-color: #E8E7F6;              
            }
            .logo{
                img{
                    height:56px;
                }
                @media (max-width:768px) {
                    display: none;
                }
            }
        }
        .btn-outline-white.toogle-menu-mobie{   
            padding: 0 0;
            height: 42px;
            width: 42px;
            display: flex;            
            margin-left: 0;
            margin-top: auto;
            margin-bottom: auto;
            border-color: transparent;          
            img{
                filter: invert(1);
                margin: auto;
                width: 100%;
                height: 100%;
            }            
            &:hover{
                border-color: white;
                background: transparent;
            }
        }
    }
    .cart,.search{
        display: flex;
        width: 42px;
        height: 42px;  
        padding: 4px;  
        box-sizing: border-box;       
        img{
            width: 100%;
            height: 100%;
            margin: auto;
        }
        margin-top: auto;
        margin-bottom: auto;
        transition: 0.3s ease-in-out;
        &:hover{
            background: white;
            border-radius: 50%;
            img{
                filter: brightness(0);
            }
        }
    }
    .search{
        margin-left: auto;   
    }
    .cart{
        margin-left: 10px;
        position: relative;
        color: white;
        .amount{
            position: absolute;         
            background: red;
            font-family: 'SVN-Gotham';
            border-radius: 0.5em;
            padding: 0.1em 0.4em;
            font-size: 0.7em;
            top: -4px;
            right: -5px;
        }
    }
    & > div{
        width: 25%;
    }          
    .logo-container{
        width: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
    }     
    .cart-search{
        display: flex;
    }
}
header .content{   
    z-index: 3;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width:768PX) {        
        margin-bottom: 50px;
    }
    @media (min-width:1800px) {        
        margin-top:12vw;
    }
    @media (max-width:768px) {
        height: calc(100vh - 40px);
    }
//   width: min(40%, 400px);
    // margin-bottom: 30px;
    position: relative;
    img{
        width: 32%;
        margin-right: auto;
        margin-left: auto;
        @media (max-width:768px) {           
            width: 220px;
            margin-bottom: 1em;
        }
    }
    .h2,.h3,.h1{
        font-family: 'SF Pro Display',sans-serif;        
        font-style: normal;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: center;       
        color: white;
        margin: 0;
    }
    .h1{
        font-size: 55px;
        margin-bottom: 20px;
        font-family: 'averta',monospace;
        @media (max-width:768px) {
            font-size: 18px;            
            margin-bottom: 0.5em;
            font-weight: 700;
            text-transform: uppercase;
            font-family: 'SVN-Gotham';            
        }
    }
    .h2{
        font-size: 26px;
        font-family: 'averta',sans-serif;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        margin-top: 0em;  
        margin-bottom: .5em;    
        letter-spacing: 0.1em;  
        @media (max-width:768px) {
            font-size: 12px;
            line-height: 20.5px;
            margin-top: 0px;
            margin-bottom: 0.5em;
            font-weight: bold;
            letter-spacing: initial;  
            font-family: 'SVN-Gotham';
            opacity: 90%;
            text-transform: uppercase;
            span{
                font-weight: normal;
                margin-bottom: 0.5em;
                display: inline-block;
            }
        }
    }
    .h3{
        margin-top: 20px;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
        @media (max-width:768px) {
            font-size: 15px;
            line-height: 20.5px;            
            margin-top: 0px;
            text-align: center;
            margin-bottom: 5em;
        }
    }
    .container-btn{
        margin-right:auto ;
        margin-left: auto;
        @media (max-width:768px) {
            text-align: center;
        }
    }    
    .btn-Tumbleweed{
        position: relative;
        border:none;
        background-color: white;       
        color: #252525;    
        margin-top: 20px;
        padding: 18px 30px;
        font-weight: 600;
        border-radius: 4px;
        font-size: 13px;     
        letter-spacing: 0.13em;   
        &:hover{
            transform:scale(1.2);
        }
        @media (max-width:768px) {
            margin-top: 4em;
            margin-bottom: 4em;
        }
        .sticker{
            position: absolute;
            right: -3.3vw;
            z-index: -1;
            bottom: 0em;
            transform: translateY(35%);
            width: 96px;
            height: 102px;
            @media (max-width:768px) {
                display: none;
            }
        }
    }
    // .aspect{
    //     padding: 20px 0 0px;                
    //     display: none;
    //     img{
    //         width: 100%;
    //         height: auto;
    //     }
    //     @media (min-width:768px) {            
    //         display: block;            
    //         position: absolute ;
    //         width: 57%;
    //         right: 0;
    //         top: 0;
    //     }
    // }
    .tips{
        margin-top: 3vw;
        background: transparent;
        border-radius:10px ;
        width: fit-content;
        padding-top: 15px;
        padding-bottom: 15px;
        li{
            margin-bottom: 8px;           
        }
        div{
            display: flex;            
            span{
                margin-top: auto;
                margin-bottom: auto;
            }
        }
        img{
            height: 24px;
            width: 24px;
            display: inline-block;
            margin-left: 6px;
            margin-right: 6px;
        }        
        @media (max-width:768px) {
            padding: 0;
            margin-top: 1em;
            margin-left: auto;
            margin-right: auto;
            color: white;
            list-style-type: none;
            // li:first-child{
            //     img{
            //         display: none;
            //     }                
            // }
            div span{
                margin-left: auto;
                margin-right: auto;
            }
            p{
                font-size: 14px;
                line-height: 1.6em;
                text-align: center;
                display: flex;
                img{
                    margin: auto;                    
                }
                margin-top: 0;
                margin-bottom: 0;
            }
            img{
                filter: brightness(0) invert(1);
                &:first-of-type{
                    float: left;
                    margin-right: 0.5em;
                }   
                &:last-of-type{
                    float: right;
                    margin-left: 0.5em;
                }   
            }
        }
    }
}
.tapply-navbar-collapse{
    list-style: none;
    display: flex;    
    width: 100%;
    flex-direction: column;       
    box-sizing: border-box;
    text-align: left;
    padding: 0;
    margin-top: 2em;    
    @media (max-width:768px) {
        margin-top: 0;
    }    
    .nav-item{
        position: relative;
        transition: 0.3s ease-in-out;
        border-bottom: 1px solid #E8E7F6;
        &:hover {
            background: #0D0C22;
            padding-left: 15px;
            .nav-link{
                color: white;
            }
        }
    }
    .nav-link{
        padding: 12px 12px;
        font-weight: bold;
        line-height: 24px;
        position: relative;
        text-decoration: none;
        display: inline-block;
        outline: none;        
        &.active{
            font-weight: 700;
        } 
        color: #0D0C22;
        font-size: 20px;
        // width: 100%;
        display: block;
        line-height: 18px;
        padding: 1em 0;
        box-sizing: content-box;
        font-family: 'SVN-Gotham';
        font-weight: normal;    
        // &::after{
        //     position: absolute;
        //     content: '';                
        //     width: 0;
        //     height: 2px;
        //     position: absolute;
        //     bottom: 0;
        //     display: flex;
        //     background:white;
        //     transition: 0.3s ease-in-out;
        // }
        // &:hover,&:focus{
        //     &::after{
        //         width: calc(100% - 24px);
        //     }
        // }
        @media (max-width:768px) {
            font-size: 16px;
            padding: 0.7em 0 0.7em 0;
        }
    }    

}
// =======================
.tapply-tutorial{
    background-image: url('img/home/bg-section02.png');
    background-size: 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    padding-top: 30px;
    .h1{
        // font-style: Bold;
        text-align: center;
        font-size: 26px;
        color: #183B56;
        @media (min-width:768px) {
            font-size: 48px;            
            padding-left: 200px;
        }
    }
    aside{        
        &:last-child{
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media (min-width:768px) {        
                padding-left: 100px;
            }
        }
        .features{
            margin-bottom: 2em;
            @media (min-width:768px) {        
                margin-bottom: 3em;
            }
        }
        span{
            padding: 10px;
            border-radius: 10px;
            display: block;
            width: fit-content;
            img{
                border: 1px dashed #183B56;
            }
        }
        .title{
            font-family: 'IBM Plex Sans',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 28.7407px;
            line-height: 138%;
            /* or 40px */
            letter-spacing: 0.0075em;
            color: #666d72;
            margin-top: 28px;
            margin-bottom: 5px;
            @media (max-width:768px) {
                font-size: 18px;
                margin-top: 6px;
                margin-bottom: 6px;
            }
        }
        .content{
            margin: 0;          
            font-family:'IBM Plex Sans' sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 22.9926px;
            line-height: 150%;
            /* or 34px */
            letter-spacing: 0.0168em;
            font-feature-settings: 'tnum' on, 'lnum' on;
            color: #5A7184;
            @media (max-width:768px) {
                font-size: 14px;
            }
        }
    }
}
.tapply-can{
    padding-top: 87px;
    padding-bottom: 84px;
    @media (max-width:768px) {        
        padding-top: 47px;
        padding-bottom: 44px;
    }
    .h1{
        font-family: 'SF Pro Display',sans-serif;
        font-weight: 700;
        font-size: 48px;
        color: #0D0C22;
        margin-top: 0;
        margin-bottom: 8px;
        @media (max-width:768px) {
            font-size: 20px;
            padding-bottom: 0;
        }
    }
    .decription{
        font-family: 'SF Pro Display',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 138%;
        /* or 28px */
        display: flex;
        letter-spacing: 0.0075em;
        color: #0D0C22;
        opacity: 0.9;
        margin-top: 0;
        @media (max-width:768px) {
            font-size: 14px;
            padding-bottom: 0;
        }
    }
    .tapply-col-md-right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;        
        @media (max-width:768px) {
            padding-top: 15px;
        }
    }
    .features{
        display: flex;
        @media (max-width:768px) {
            margin-bottom: 12px;
        }
        div{
            margin-top: auto;
            margin-bottom: auto;
        }
        figure{
            margin: auto;
            margin-right: 24px;
            border-radius: 8px;
            width: 68px;
            height: 68px;
            background:#d59f80;
            display: flex;     
            @media (max-width:768px) {
                width: 40px;
                height: 40px;                        
                margin-right: 12px;        
            }       
            img{
                margin: auto;                                  
                @media (max-width:768px) {
                    max-width: 32px;                
                    max-height: 32px;
                }       
            }            
        }
        p{
            width: auto;
        }
        .title{
            /* 24/Headline */
            font-family: 'SF Pro Display',sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 132%;
            /* Neutral - Color */
            color: #0D0C22;
            margin-bottom: 8px;
            margin-top: 0;
            @media (max-width:768px) {
                font-size: 14px;
                margin-bottom: 0px;
            }
        }
        .decription{          
            /* 16/Body1 */
            font-family: 'SF Pro Display',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            /* or 24px */
            display: flex;
            align-items: center;
            letter-spacing: 0.0168em;
            font-feature-settings: 'tnum' on, 'lnum' on;
            color: #0D0C22;
            opacity: 0.9;
            margin: 0;
            @media (max-width:768px) {
                font-size: 12px;
            }
        }
        
    }
}
.you-can{
    background-image: url('img/home/bg-section03.png');
    background-size: auto 115%;
    // background-position: 50% -50%;
    background-repeat: no-repeat;
    @media (min-width:768px) {
        background-size: 100% auto;
        height: 80vw;
        display: flex;        
    }
    .tapply-container{
        margin-top: auto;
        margin-bottom: auto;
        @media (max-width:768px) {
            padding-top: 20%;
            padding-bottom: 10%;
        }
    }
    .h1{
        font-family: 'SF Pro Display',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 133%;
        /* identical to box height, or 64px */
        text-align: center;
        letter-spacing: -0.005em;
        color: #FFFFFF;
        margin: 0;
        margin-bottom: 9px;
        @media (max-width:768px) {
            font-size: 24px;
        }
    }
    .decription{
        font-family: 'Open Sans',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.5em;
        /* or 178% */
        text-align: center;
        color: #FFFFFF;
        margin: 0;
        text-align: center;        
        max-width: 34em;        
        margin: auto;
        @media (max-width:768px) {
            font-size: 12px;
        }
    }
    .features{
        margin-bottom: 56px;                        
        @media (max-width:768px) {
            display: flex;     
            margin-bottom: 28px;       
            img{
                margin-right: 0.5em;
                margin-bottom: auto;
                margin-top: 1em;
            }
        }        
    }
    .tapply-row{
        padding-top: 25px;
        @media (min-width:768px) {            
            padding-top: 50px;
        }
    }
    .tapply-col-md-25{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:first-child{
            order: 1;
            @media (min-width:768px) {
                text-align: right;                
            }
        }
        &:last-child{
            order: 3;
            text-align: left;
        }
        .title{
            font-family: 'IBM Plex Sans',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 23.6105px;
            line-height: 138%;
            letter-spacing: 0.0075em;
            color: #FAFAFB;
            margin-top: 0.7em;
            margin-bottom: 0.5px;
            @media (max-width:768px) {
                font-size: 18px;
            }
        }
        .description{
            font-family: 'IBM Plex Sans',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18.8884px;
            line-height: 150%;
            letter-spacing: 0.0168em;
            font-feature-settings: 'tnum' on, 'lnum' on;
            color: #FAFAFB;
            mix-blend-mode: normal;
            margin: 0;
            @media (max-width:768px) {
                font-size: 12px;
            }
        }
    }
    .tapply-col-md-50{
        padding-top: 28px;
        order: -1;
        @media (min-width:768px) {
            padding: 0;
            order: 2;
        }
        display: flex;
        img{
            margin: auto;
        }
    }
}
.FAQ{
    background-color: red;
    background-color: #fdfaf9;
    background-image: url('img/home/pricing.png');
    background-size: 100% 200%;
    background-position: 50% 12%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-repeat: no-repeat;
    @media (max-width:768px) {
        background-size: 200% 200%;
        background-position: 50% 12%;
    }
    .titleSection{
        margin-bottom: 0;
        margin-top: 0;
        @media (max-width:768px) {
            size: 24px;
            max-width: 10em;
            margin: auto;
        }   
    }
    .QA{
        padding-top: 1rem;
    }
    .question{        
        /* 28/Subtitle */
        font-family: 'SF Pro Display',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 132%;
        color: #0D0C22;
        opacity: 0.9;
        margin-bottom: 0.5em;
        @media (max-width:768px) {
            font-size: 16px;
            margin-bottom: 0.3em;
        }   
    }
    .answer{
        margin-top: 0;
        font-family: 'SF Pro Display',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 132%;
        color: #0D0C22;        
        opacity: 0.9;
        @media (max-width:768px) {
            font-size: 16px;
            margin-bottom: 2.5em;
        }   
        a{
            color: #1565D8;
            text-decoration: none;
            display: inline-block;
            position: relative;
            &::after{
                content: '';
                width: 0;
                height: 2px;
                display: block;
                position: absolute;
                background: #1565D8;
                left: 0;
                transition: 0.3s ease-in-out;
            }
            &:hover{
                opacity: 1;
                &::after{
                    width: 100%;
                }
            }
        }
    }
}
.card{          
    figure{
        text-align: center;
        position: relative;
        padding-top: 50px;
        @media (max-width:768px) {                
            padding-top: 0px;
        }
        .hashtag{
            position: absolute;
            top: 0;
            left: 0;
            background-color: #D59F80;
            color: white;
            padding: 0.4em 1em;
            font-size: 13px;
            z-index: 1;
            font-family: 'averta';
            @media (max-width:768px) {
                display: none;
            }
        }
        .demo{
            width: 90%;
            margin: auto;
            padding-bottom: 54px;
            position: relative;
            &::after{
                position: absolute;
                content: '';
                width: 100%;
                bottom: 0%;
                left: 50%;
                transform: translateX(-50%);
                height: 54px;
                background-image: url('img/shadow.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                @media (max-width:768px) {
                    height: 24px;
                }
            }
            @media (max-width:768px) {
                padding-bottom: 24px;
            }
            &:hover{
                // transform: rotateY(-90deg);                       
                // opacity: 0;
                img.font{
                    opacity: 1;
                    transform: rotateY(90deg);                         
                    transition-delay: 0s;                     
                }
                img.back{
                    transition-delay: 0.3s;
                    opacity: 1;
                    transform: rotateY(0deg);
                }
            }   
            margin-bottom: 1em;                 
        }
        img{
            position: relative;
            max-width: 100%;
            position: relative;
            transition: 0.3s ease-in-out;
            &.font{
                transition-delay: 0.3s;
            }
            &.back{
                position: absolute;
                top: 0;
                left: 0;
                transform: rotateY(-90deg);
                transition: 0.3s ease-in-out;
                z-index: -1;
                opacity: 1;
            }                                
        }
        figcaption{         
            position: relative;       
            .card-name{
                font-family: 'SF Pro Display',sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 150%;
                /* or 27px */
                text-align: center;
                letter-spacing: 0.0168em;
                text-transform: uppercase;
                font-feature-settings: 'tnum' on, 'lnum' on;
                color: #0D0C22;
                opacity: 0.9;
                margin: 0;
                @media (max-width:768px) {
                    margin-top: 10px;
                    font-size: 16px;
                }
            }
            .price{         
                font-family:'SF Pro Display',sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;                
                line-height: 150%;
                letter-spacing: 0.005em;
                font-feature-settings: 'tnum' on, 'lnum' on;
                /* Neutral - Color */
                color: #0D0C22;
                opacity: 0.9;
                @media (max-width:768px) {
                    font-size: 14px;
                }
            }
            .old-price{
                color: #0D0C22;
                font-size: 12px;
                @media (max-width:768px) {
                    color: gray;
                }
            }
            .discount{
                color:red;
                font-size: 12px;
                @media (max-width:320px) {
                    font-size: 10px;
                }
            }
            .tapply-text-center{
                display: flex;
                justify-content: center;
                p{
                    margin-top: 8px;
                    @media (max-width:768px) {
                        margin-bottom: 0.3em;
                    }
                }
            }                
            .price,.old-price,.discount{
                margin-top: auto;
                margin-bottom: auto;
            }
            .btn-Tumbleweed{
                margin: auto;
                text-decoration: none;
                width: 80%;
                display: block;
                text-align: center;
                border: 1px solid transparent;
                &:hover{
                    border-color:#D59F80 ;
                }
                @media (max-width:768px) {
                    width: fit-content;
                    padding: 6px 32px;
                }
            }
            .font,.back{
                transition: 0.3s ease-in-out;
            }
            .font{
                transition-delay: 0.3s;
                position: relative;
            }
            .back{
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                top: 0;
                left: 0;
                transform: rotateY(-90deg);
                transition: 0.3s ease-in-out;
                z-index: -1;
                opacity: 1;
                // @media (max-width:768px) {
                //     position: relative;
                //     opacity: 1;
                //     transform: rotateY(0);
                //     width: auto;
                //     height: auto;
                // }
            }                     
            // @media (min-width:768px) {
                &:hover{
                    // transform: rotateY(-90deg);                       
                    // opacity: 0;
                    .font{
                        opacity: 1;
                        transform: rotateY(90deg);                         
                        transition-delay: 0s;   
                        z-index: -1;                                      
                    }        
                    .back{
                        transition-delay: 0.3s;
                        opacity: 1;
                        transform: rotateY(0deg);
                        z-index: 1;
                    }
                }
            // }         
        }
        @media (max-width:768px) {
            margin: 0;
            figcaption{
                .card-name{
                    font-size: 11px;
                }
            }
        }
    }
}
.cards{
    .titleSection{
        @media (max-width:768px) {
            font-size: 22px;
        }
    }       
    .swiper-button-prev,.swiper-button-next{
        &::after{
            display: none;
        }
        @media (min-width:768px) {
            opacity: 0;          
            transition: 0.3s ease-in-out;
        }
        @media (max-width:768px) {
            display: none;
        }
    }
    .swiper-button-next{
        img{
            transform: rotateZ(180deg);
        }
    }
    .swiper-wrapper{
        height: fit-content;
        @media (max-width:768px) {
            width: 50vw;                    
        }
    }
    @media (max-width:768px) {
        .swiper-slide-active{
            transition: scale 0.2s;
            .demo{                
                transform: scale(1.35) !important;
            }
            .hashtag{
                display: none;
            }
        }
    }
    .swiper-container{
        @media (min-width:768px) {
            padding-left: 30px;
            padding-right: 30px;
            &:hover{
                .swiper-button-prev, .swiper-button-next{         
                    opacity: 1;          
                }
            }
        }
        @media (max-width:768px) {            
            padding-bottom: 52px;               
            padding-top: 30px;
            .swiper-pagination-bullet-active{
                background: black;
            }
        }
        .card{
            @media (max-width:768px) {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }    
}
.cards2{
    margin-bottom: 3em;
    .tapply-col-50{
        margin-bottom: 15px;
        min-width: 145px;
        width: 145px;
        max-width: 50%;
    }
    .btn-outline-black{
        color: black;
        border-color: black;
    }
    .tapply-row{
        position: relative;
    }
}
footer{
    background-image:url('img/bg_footer.png');
    background-size: 100%;
    @media (max-width:768px) {        
        background-image:url('img/bg_footer_mobile.png');
        background-size: 100%;
    }
    padding-top: 3rem;
    /* 16/Subtitle1 */
    font-family: 'SF Pro Display',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    letter-spacing: 0.005em;
    font-feature-settings: 'tnum' on, 'lnum' on;
    /* White - Color */
    color: #FFFFFF;
    .logo{
        height: 100px;
    }
    hr{
        margin: 0;
    }
    .tapply-row{
        padding-bottom: 3rem;
    }
    .tapply-col{
        padding-left: 15px;
        padding-right: 15px;
        @media (max-width:768px) {
            padding-top: 1em;
            border-bottom: 1px solid white;
            padding-bottom: 1em;
            &:last-child{
                border:none
            }
        }
        p:first-child{
            margin-bottom: 26px;
        }
        &:first-child{
            .tapply-text-center{
                width: fit-content;
            }
            p:first-child{
                margin-bottom: .5em;
            }
            img{
                margin-right: 1em;
            }
        }    
        &:nth-child(3),&:nth-child(4){
            a{
                color: white;
                text-decoration: none;
                display: block;
                width: fit-content;
                margin-top: auto;
                margin-bottom: auto;
                margin-bottom: 1em;
                opacity: 0.8;
                transition: 0.3s ease-in-out;
                position: relative;               
                &::after{
                    content: '';
                    width: 0;
                    height: 2px;
                    display: block;
                    position: absolute;
                    background: white;
                    left: 0;
                    transition: 0.3s ease-in-out;
                }
                &:hover{
                    opacity: 1;
                    &::after{
                        width: 100%;
                    }
                }
            }      
        }    
    }
    address{
        .icon-text{
            display: flex;
            p,a{
                display: block;
                margin-top: auto;
                margin-bottom: auto;
            }
            img{
                margin-right: 0.5em;
                margin-bottom: auto;
                margin-bottom: auto;
                width: auto;
                height: auto;
            }
            margin-bottom: 1em;
        }
        a{
            color: white;
            text-decoration: none;
            position: relative;    
            position: relative;               
            &::after{
                content: '';
                width: 0;
                height: 2px;
                display: block;
                position: absolute;
                background: white;
                left: 0;
                transition: 0.3s ease-in-out;
            }
            &:hover{
                opacity: 1;
                &::after{
                    width: 100%;
                }
            }        
        }        
    }
    .coppyright{
        padding: 1.5em;
        p{
            margin: auto;
            text-align: center;
            font-weight: normal;
            font-family: 'IBM Plex Sans',sans-serif;
        }
    }
}
// ===============================
// COMPONENTS
// ===============================
.btn-outline-white{          
    display: flex;
    background:transparent;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    font-size: 16px;
    line-height: 12px;
    border: 1.5px solid #FFFFFF;
    height: 32px;
    margin: auto;
    transition: 0.3s ease-in-out;
    &:hover,&:focus{
        background:white;
        color: black; 
        cursor: pointer;               
    }                
    svg{
        height: 24px;
        width: 24px;
    }
}
.btn-outline-black{
    padding: 12px 32px;
    background:transparent;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    font-size: 16px;
    line-height: 12px;
    border: 1.5px solid #FFFFFF;
    height: 48px;
    margin: auto;
    transition: 0.3s ease-in-out;
    white-space: nowrap;
    &:hover,&:focus{
        background:white;
        color: black;
        cursor: pointer;
    }   
}
.btn-Tumbleweed{
    background: #D59F80;
    border-radius: 8px;
    font-family: 'SF Pro Display',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    color: white;
    padding: 12px 32px;  
    transition: 0.3s ease-in-out;
    &:hover{
        cursor: pointer;
        background: white ;
        color: #D59F80;
    }  
}
.d-mobie{
    @media (min-width:768px) {
        display: none;        
    }
}
.d-desktop{
    @media (max-width:768px) {
        display: none;        
    }
}
.tapply-row{
    display: flex;
    flex-wrap: wrap;
}
.tapply-col-md-left{
    width: 100%;
    box-sizing: border-box;
    @media (min-width:768px) {
        max-width: 57.6%;
    }
}
.tapply-col-md-right{
    width: 100%;
    box-sizing: border-box;
    @media (min-width:768px) {
        max-width: calc(100% - 57.6%);
    }
}
.tapply-maxw-100{
    width: auto;
    max-width: 100%;
}
.tapply-container{
    width: 100%;
    max-width: 1204px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    box-sizing: border-box;
}
.tapply-flex{
    display: flex;
}
.tapply-col-md-25{
    width: 100%;
    @media (min-width:768px) {        
        max-width: 25%;
    }
}
.tapply-col-md-50{
    width: 100%;
    @media (min-width:768px) {        
        max-width: 50%;
    }
}
.tapply-col-50{
    width: 50%;
}
.titleSection{
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    color:#0D0C22;
    @media (min-width:768px) {
        font-size: 48px;    
    }
}
.tapply-col{
    width: 100%;
    @media (min-width:768px) {         
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
}
.tapply-text-center{
    text-align: center;
}
.tapply-align-center{
    text-align: center;
}
// ================================
// ANIMATION
// ================================
@keyframes flipcard{
    0%{
        opacity: 1;
        transform: rotateY(0);
    }
    50%{
        opacity: 1;
        transform: rotateY(90deg);
    }
    100%{
        transform: rotateY(90deg);
        opacity: 0;
    }
}